.display{
    background-color: #443e3e;
    color: rgb(222, 222, 222);
    margin: 0;
    text-align: end;
}

p{
    font-size: small;
    margin: 0;
}

.comp{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}